#scoreboard {
  display: flex;
  flex-direction: column;
}

.member {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.member input {
  width: 3em;
  margin-left: 1em;
}

.remove-member {
  margin-right: 0.5em;
  opacity: 0.5;
  cursor: default;
}

.remove-member:hover {
  opacity: 0.9;
}

#add-member {
  margin-top: 1em;
}
